{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HuyQTA</title>
    <link rel="stylesheet" href="{% static "app/content/css/bootstrap/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "app/content/css/scss/webshop.css" %}"/>
    <link rel="stylesheet" href="{% static "app/content/css/flexslider/flexslider.css" %}"/>
    <link rel="stylesheet" href="{% static "app/content/css/nivo/nivo-slider.css" %}"/>
    <link rel="stylesheet" href="{% static "app/content/css/nivo/themes/bar/bar.css" %}"/>
    <link rel="stylesheet" href="{% static "app/content/css/nivo/themes/dark/dark.css" %}"/>
    <link rel="stylesheet" href="{% static "app/content/css/nivo/themes/default/default.css" %}"/>
    <link rel="stylesheet" href="{% static "app/content/css/nivo/themes/light/light.css" %}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://use.fonticons.com/0f8a0a52.js"></script>

    <script src="{% static "app/scripts/flexslider/jquery.flexslider-min.js" %}"></script>
    <script src="{% static "app/scripts/jssor/jssor.js" %}"></script>
    <script src="{% static "app/scripts/jssor/jssor.slider.js" %}"></script>
    <script src="{% static "app/scripts/nivo/jquery.nivo.slider.pack.js" %}"></script>

    <script src="{% static "app/scripts/webshop/webshop.js" %}"></script>
</head>
<body>
{% include "layout/header.html" %}
{% include "layout/slider.html" %}
{#{{ content }}#}
{% if list_unit %}
    <ul>
        {% for unit in list_unit %}
            <li> {{ unit.unit_name }} </li>
        {% endfor %}
    </ul>
{% endif %}

{% include "layout/footer.html" %}
</body>
</html>
