<div class="container-fluid header">
    <div class="container">
        <ul class="col-xs-12 list-inline header-content">
            <li><a href="#">Trang chủ</a></li>
            <li><a href="#">Giới thiệu</a></li>
            <li><a href="#">Liên hệ</a></li>
            <li><a href="#">Sản phẩm</a></li>
        </ul>
    </div>
</div>
<div class="container-fluid header-banner">
    <div class="container">
        <div class="col-sm-6 col-xs-12">
            <div class="logo"><u>HUY KIM</u></div>
            <div class="logo-des">Công ty TNHH TM & DV</div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div id="search-box" class="pull-right">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." id="search-textbox">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="hq hq-search"></i></button>
                      </span>
                </div>
            </div>
        </div>
    </div>
</div>