{% load staticfiles %}
<div class="flexslider">
    <ul class="slides">
        <li>
            <img src="{% static "app/content/images/slider/kitchen_adventurer_cheesecake_brownie.jpg" %} "/>
        </li>
        <li>
            <img src="{% static "app/content/images/slider/kitchen_adventurer_cheesecake_brownie.jpg" %} "/>
        </li>
        <li>
            <img src="{% static "app/content/images/slider/kitchen_adventurer_cheesecake_brownie.jpg" %} "/>
        </li>
        <li>
            <img src="{% static "app/content/images/slider/kitchen_adventurer_cheesecake_brownie.jpg" %} "/>
        </li>
    </ul>
</div>